.git
node_modules
/frontend/node_modules
/frontend/dist
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/*.key
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.env
docs
screenshots
